
body{
  background-image: url(/image/rugby.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
h1{
  color: white;
}

.quiz-container {
  font-family: "Roboto", sans-serif;
  max-width: 900px;
  margin:auto;
  padding: 40px;
  border-radius: 100px;
  border: solid 2px black;
  font-size: 20px;
  font-weight: normal;
  line-height: 1.6;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(95,130,175,1) 0%, rgba(9,9,121,1) 35%, rgba(6,68,160,1) 54%, rgba(0,212,255,1) 100%);

}


.option {
  font-family: "Roboto", sans-serif;
  max-width: 900px;
  margin: auto;
  padding: 20px;
  border-radius: 50px;
  width: 300px;
  align-items: center;
  margin-bottom: 20px;
  font-size: 20px;
  margin-right: auto;
  color: black;

}

.quiz-container {
  font-size: 20px;
align-items: center;
  padding: 16px;
  border-radius: 8px;
  font-weight: normal;
  line-height: 1.6;
}
.quiz-container .option {
  border: none;
  padding: 24px 32px;
  font-size: 18px;
  background: white;
  color: black;
}
.quiz-container button {
  cursor: pointer;
}

.disabled {
  pointer-events: none;
}
.retake-btn {
  background: #222;
  color: #fff;
  border: none;
  padding: 12px 32px;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 3px;
  cursor: pointer;
  width: fit-content;
}

.lettre{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;


} 

.ligne1{
  margin: 5px;
}
.modal{
  display: none;
}
 #finit {
  text-align: center;
  color: white;
  display: none;

}
#score{
  display: none;
  color: white;
  text-align: center;
}

#restart{
  display: none;
  
}

.container{
  display: flex;
  flex-direction: column-reverse
}